*{
    width: 100%;
    word-wrap: unset;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='160' height='160' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23DCEFFA' fill-opacity='0.8' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E");
}

#page-top{
    padding-left: 6px;
}

.text-main {
    color: #445964;
    font-style: oblique;
}

.text-orange {
    color: #FF715B;
}

.w-100 {
    width: 100%;
}

li {
    width: auto;
}

.flags{
    width: auto;
    font-size: 18px;
}

.header {
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.header-title {
    font-size: 24px;
    color: #445964;
    font-weight: 900;
    width: auto;
    line-break: unset;
    white-space: nowrap
}

.first{
    width: 100%;
    height: 700px;
    box-sizing: border-box;
}

.icon{
    color: #445964;
    width: auto;
}

.social{
    color:#445964;
    width: 30px;
    z-index: 1;
}

.social-bottom{
    margin-left: 200px;
    width: fit-content !important;
}

.header-items {
    font-size: 20px;
    font-weight: 400;
    color:#445964;
}

.main-title {
    margin-top: 0px;
}


@media only screen and (min-width: 768px) {
    .principal{
        top: 90px;
    }
}

@media only screen and (min-width: 1400px) {
    .principal{
        top: 180px;
    }
}

.principal{
    height: fit-content;
}

#title1{
    margin-top: 50px;
    font-size: 48px;
    color: #445964;
    font-weight: 900;
}

#title2{
    font-size: 36px;
    color: #FF715B;
    font-weight: 700;
}

#subtitle{
    font-size: 24px;
    color: #445964;
    font-weight: 400;
}

#second {
    margin-top: 300px;
}

#third, #fourth, #fifth {
    margin-top: 250px;
}

#section2-title {
    font-size: 64px;
    font-weight: 700;
}

.btn{
    width: min-content;
}

#learning{
    font-size: 24px;
}

.btn-outline-tech{
    border: 1px solid black !important;
    border-color: black;
    background-color: white !important;
    color: black;
    cursor: default !important;
}

.btn-outline-tech:hover {
    background: white !important;
    cursor: default !important;
}

.btn-view{
    background: #445964 !important;
    color: white !important;
    font-size: 24px !important;
    cursor: default !important;
    border-radius: 20px !important;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0  17px 10px -10px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 300ms;
}

.btn-view:hover{
    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);
    transform: translate(0, -2px);
    cursor: pointer !important;
}

#aboutme, #aboutmelong{
    font-size: 22px;
    font-style: initial;
}

#myprojects{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
}

#project1{
    font-size: 38px;
    color: black;
    font-style: normal;
    font-weight: 900;
}

#aboutproject1{
    font-size: 22px;
    font-style: initial;
}

.imgproject1{
    box-shadow: 0  37px 20px -20px rgba(0, 0, 0, 0.2);
}

#myjourney{
    font-size: 24px;
    font-style: initial;
    font-weight: 500;
}

#jobexperiences{
    font-size: 36px;
    font-style: initial;
    font-weight: 900;
}

#jobexperiences2{
    font-size: 36px;
    margin-left: 10px !important;
    color: black;
    font-style: initial;
    font-weight: 900;
}

.card-job1{
    border-radius: 20px;
    text-align: center;
    color: white;
    background: #263138;
    padding: 10px;
    min-height: 300px;
}

.card-job2{
    border-radius: 20px;
    text-align: center;
    color: white;
    background: #445964;
    padding: 10px;
    min-height: 300px;
}

#job1, #job2, #job3{
    font-size: 20px;
    font-weight: 700;
}

#textdays, #textdays2, #days{
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
}

#chat{
    font-size: 48px;
    font-weight: 700;
    color: #445964;
}

#email{
    font-size: 36px;
    font-weight: 600;
    color: #FF715B;
    margin-bottom: 50px;
}

#quote{
    font-size: 18px;
    font-weight: 700;
    color: #445964;
}

#quoteby{
    font-size: 22px;
    font-weight: 800;
    color: black;
}

.card-img{
    border: 1px solid black !important;
    margin-top: 25px;
    padding: 10px;
    border-radius: 10px !important;
    background-color: white !important;
}

.footerp, .footerp div, .footerp p {
    left: 0;
    bottom: 0;
    padding: 1% !important;
    margin: 0 !important;
    width: 100%;
    color: white;
    background-color: rgb(18, 30, 39);
    text-align: center;
  }

  button {
    position: relative;
    font-weight: 600;
    height: 40px;
    padding: 12px 20px;
    outline: none;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 5px;
  }
  
  button:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 7px;
    left: 7px;
    height: 100%;
    background-color: #FF715B;
    z-index: -1;
    transition: all 0.35s;
    border-radius: inherit;
  }
  
  button:hover:after {
    top: 0px;
    left: 0px;
  }

  #title1 {
	-webkit-animation: text-focus-in 1s both;
	        animation: text-focus-in 1s both;
}

#title2 {
	-webkit-animation: text-focus-in 2s both;
	        animation: text-focus-in 2s both;
}

#subtitle {
	-webkit-animation: text-focus-in 3s both;
	        animation: text-focus-in 3s both;
}

.pedrogrande {
	-webkit-animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
	        animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-1-19 23:23:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  /* ----------------------------------------------
 * Generated by Animista on 2023-1-19 23:27:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation roll-in-blurred-left
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  @keyframes roll-in-blurred-left {
    0% {
      -webkit-transform: translateX(-1000px) rotate(-720deg);
              transform: translateX(-1000px) rotate(-720deg);
      -webkit-filter: blur(50px);
              filter: blur(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0deg);
              transform: translateX(0) rotate(0deg);
      -webkit-filter: blur(0);
              filter: blur(0);
      opacity: 1;
    }
  }
  
  